Load required library

In [1]:
import pandas as pd

Load the dataset as a dataframe

In [2]:
df = pd.read_csv('../data/mtsamples_descriptions_clean.csv')

View top few rows of dataframe to get a rough idea of the type of information contained

In [3]:
df.head()

,id,id_description,medical_specialty_new,text,year,borough
0,0,0,Gastroenterology,EGD with photos and biopsies,2013.0,Merton
1,1,0,Gastroenterology,This is a 75-year-old female who presents wit...,2013.0,Merton
2,2,0,Gastroenterology,She has a previous history of hiatal hernia,2013.0,Merton
3,3,0,Gastroenterology,She was on Prevacid currently,2013.0,Merton
4,4,1,Urology,"Pelvic tumor, cystocele, rectocele, and uteri...",2013.0,Harrow

Check if the `id` values are all unique

In [4]:
df['id'].nunique() == df['id'].count()

True

Check how many missing values in each column

In [5]:
df.isna().sum()

id                       0
id_description           0
medical_specialty_new    1
text                     1
year                     1
borough                  1
dtype: int64

See the rows that have missing values

In [6]:
df[df.isna().sum(axis=1) > 0]

,id,id_description,medical_specialty_new,text,year,borough
3228,3228,2344,NaN,An example/template for a routine normal fema...,2013.0,Haringey
3234,3234,2348,General Medicine,NaN,2016.0,Merton
3247,3247,2360,Gastroenterology,Common description of EGD.,NaN,NaN

Remove these rows from the dataframe

In [7]:
df = df[~(df.isna().sum(axis=1) > 0)]

Check the dataframe for missing values again

In [8]:
df.isna().sum()

id                       0
id_description           0
medical_specialty_new    0
text                     0
year                     0
borough                  0
dtype: int64

Inspect values in the `year` column

In [9]:
df['year'].describe()

count    3245.000000
mean     2013.075809
std         2.405639
min      2010.000000
25%      2010.000000
50%      2013.000000
75%      2016.000000
max      2016.000000
Name: year, dtype: float64

Show top-10 most frequent values in the `medical_specialty_new` column

In [10]:
df['medical_specialty_new'].value_counts(ascending=False)[:10]#.index.to_list()

 Orthopedic                    475
 Radiology                     366
 Cardiovascular / Pulmonary    355
 Gastroenterology              333
 Obstetrics / Gynecology       233
 Urology                       228
 General Medicine              197
 Ophthalmology                 129
 ENT - Otolaryngology          124
 Surgery                        92
Name: medical_specialty_new, dtype: int64

Show top-10 most frequent values in the `text` column

In [11]:
df['text'].value_counts(ascending=False)[:10]#.index.to_list()

 Laparoscopic appendectomy                                       7
 Colonoscopy                                                     5
 Laparoscopic cholecystectomy                                    5
 Cataract, right eye                                             5
 Normal review of systems template                               4
 Circumcision                                                    3
 Sample progress note - Gen Med.                                 3
 Normal nuclear myocardial perfusion scan.                       3
 An example/template for a routine normal male physical exam.    3
 Normal physical exam template                                   3
Name: text, dtype: int64

Add a `length` column to the dataframe to capture length of `text` in each row

In [12]:
df['length'] = df['text'].str.len()

Check the range of `length` values

In [13]:
df['length'].describe()

count    3245.000000
mean       72.200308
std        47.714916
min         5.000000
25%        38.000000
50%        60.000000
75%        93.000000
max       492.000000
Name: length, dtype: float64